*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: green;
    color: white;
    padding: 1rem 20px; /* why 1rem? */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav li a{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
nav li a:hover{
    color: rgb(218, 218, 218);
}

#main-content{
    max-width: 1200px;
    width: 100%;
    flex: 1;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(185, 185, 117);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem 0px;
    margin-top: auto;
}
footer p{
    font-size: 0.9rem;
    opacity: 0.8;
}


@media (max-width: 768px) {
    nav{
        flex-direction: column;
        gap: 20px;
    }
    #main-content{
        padding: 1rem;
    }

}